asgiref==3.2.7
beautifulsoup4==4.9.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==3.3.2
dj-database-url==0.5.0
Django==3.0.14
django-cors-headers==3.4.0
django-dotenv==1.4.1
django-livereload-server==0.3.2
django-templated-mail==1.1.1
djangorestframework==3.11.2
djoser==2.0.3
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.1
nexmo==1.5.0
path==14.0.1
psycopg2==2.8.5
pycparser==2.20
PyJWT==1.7.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
stripe==2.46.0
tornado==6.0.4
urllib3==1.26.5
whitenoise==5.0.1
wincertstore==0.2
zipp==3.1.0
